
@{
    ViewData["Title"] = "Factura Simple";
}

<br />
<br />
<div class="text-center">
    <h1 class="display-2">Bienvenido</h1>
    <p>Learn about <a href="https://github.com/Efraingon">Web apps with ASP.NET Core</a>.</p>
</div>
